/* FONTS
-------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold-webfont.eot');
    src: url('../fonts/OpenSans-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiBold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../OpenSans-ExtraBold-webfont.eot');
    src: url('../OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}

/* HTML FIXES
-------------------------------------------------------------------------------*/
html, body { 
	/*background-color: #e4e6e9;*/
	background: #f4c5c8;
	color: #393939;
	font-family: 'Open Sans', Arial, sans-serif; 
	font-size: 13px; 
	font-weight: normal;
	padding-bottom: 0;
	min-height: 100%;
	line-height: 1.5;
	width: 100$;
	height: 100%;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1, h2, h3, h4, h5 { margin-top: 0; }
p { line-height: 20px; }

table h1, table h2, table h3, 
table h4, table h5, table h6 { margin-top: 0; }

/* HEAD
-------------------------------------------------------------------------------*/
/* FOOT
-------------------------------------------------------------------------------*/
/* BODY
-------------------------------------------------------------------------------*/
div#wrapper {
	background: #fff;
	width: 35em;
	height: 100%;
	margin: auto;
	text-align: center;
	padding: 5px;
}

div#wrapper2 {
	margin: auto;
	padding: 5px;
}

form {
	width: 250px;
	margin: auto;
	text-align: center;
}

input {
    margin: .5em;
}

table {
	margin: auto;
	padding: 15px;
	text-align: center;
}

.alert {
	font-size: 1.4em;
	width: 250px;
	text-align: center;
	margin: auto;
	color: #fff;
}

.success {
	background: #8BA870;
}

.fail {
	background: #CD5555;
}